body {
    margin: 0;
    height: 100vh;
    background-color: #161616;
    line-height: 1.7;
    color: #cccccc;
}

.main,.footnote {
    width: 800px;
    padding: 40px 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #cccccc;
    font-size: 20px;
    overflow: auto;
    box-sizing: border-box;
}

.main {
    background-color: #252525;
    font-family: "宋体";
}

.footnote {
    font-family: "仿宋";
}

.footnote-line {
   padding: 15px; 
}

@media screen and (max-width: 1600px) {
    .main,.footnote {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .main,.footnote {
        width: 100%;
        padding: 40px 10%;
    }
}

p {
    text-indent: 2em;
}

a {
    color: brown;
    text-decoration: none;
}

.part {
    font-size: 50px;
    font-weight: bold;
    text-indent: unset;
    padding: 40px 0px;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    padding: 40px 0px;
    text-align: center;
}



.top-icons {
    padding: 40px 40px;
    text-align: center;
}

.icons li a > * {
    display: block;
}

.icons {
    list-style-type: none;
    display: inline;
}

.icons li {
    float: left;
}

.icon {
    width: 30px;
    padding: 0px 20px;
}

@media screen and (max-width: 500px) {
    .icon {
        width: 30px;
        padding: 0px 10px;
    }
}

.icons li a img,.foot-icons img{
    opacity: 0.5;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.icons li a img:hover,.foot-icons img:hover {
    opacity: 1;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.footer {
    font-size: small;
    padding: 50px 50px;
}

.sign {
    text-align:center;
    float: right;
}

.sign-date {
    font-size: 18px;
}

.foot-icons {
    padding: 100px 0;
    width: 75%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.foot-icons a img {
    width: 70px;
}

#next {
    float:right
}