body {
    color: #fff;
}

.title {
    font-size: 30px;
    position: relative;
    position: absolute;
    bottom: 0;
    padding: 200px 200px;
    text-shadow: 2px 2px black;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 30px;
        padding: 100px 50px;
    }
}

@media screen and (max-height: 700px) {
    .title {
        font-size: 30px;
        padding: 10px 50px;
    }
}